* {
    box-sizing: border-box;
}

header {
    background-color: #527f85;
    padding: 10px;
    text-align: left;
    font-size: 15px;
    color: rgb(160, 228, 255);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header img {
    width: 100px;
    height: 80px;
    border-radius: 25px;
}

nav {
    background-color: #333;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 110px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
    margin-left: 10px;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 20px;
}

nav li a:hover {
    background-color: #111;
    color: #8994c4;
}

/* Create two equal columns that floats next to each other */
.column1 {
    float: left;
    width: 29%;
    padding: 20px;
    height: 500px;
    /* Should be removed. Only for demonstration */
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.pimg {
    float: left;
}

.pimg img {
    margin-left: 10px;
    width: 90%;
    height: 190px;
    border-radius: 70px;
}

img a {
    text-decoration: none;
}

.list li {
    margin: 20px;
}

.list a:hover {
    color: rgb(159, 177, 55);
}

.list1 li {
    margin: 20px;
}

.list1 a:hover {
    color: red;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 30%;
    padding: 10px;
}

.column img {
    margin-top: 12px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column2 {
    float: right;
    width: 70%;
    padding: 10px;
    height: 500px;
}

.column2 .sis {
    float: left;
}

.all-browsers {
    margin: 0;
    padding: 5px;
    background-color: lightgray;
}

.all-browsers>h1,
.browser {
    margin: 10px;
    padding: 5px;
}

.browser {
    background: white;
}

.browser>h2,
p {
    margin: 4px;
    font-size: 90%;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: #527f85;
    color: white;
}

* {
    box-sizing: border-box;
}

header {
    background-color: #527f85;
    padding: 10px;
    text-align: left;
    font-size: 15px;
    color: rgb(160, 228, 255);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header img {
    width: 100px;
    height: 80px;
    border-radius: 25px;
}

nav {
    background-color: #333;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 110px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
    margin-left: 10px;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 20px;
}

nav li a:hover {
    background-color: #111;
    color: #8994c4;
}

/* Create two equal columns that floats next to each other */
.column1 {
    float: left;
    width: 29%;
    padding: 20px;
    height: 500px;
    /* Should be removed. Only for demonstration */
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.pimg {
    float: left;
}

.pimg img {
    margin-left: 10px;
    width: 90%;
    height: 190px;
    border-radius: 70px;
}

img a {
    text-decoration: none;
}

.list li {
    margin: 20px;
}

.list a:hover {
    color: rgb(159, 177, 55);
}

.list1 li {
    margin: 20px;
}

.list1 a:hover {
    color: red;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 30%;
    padding: 10px;
}

.column img {
    margin-top: 12px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column2 {
    float: right;
    width: 70%;
    padding: 10px;
    height: 500px;
}

.column2 .sis {
    float: left;
}

.all-browsers {
    margin: 0;
    padding: 5px;
    background-color: lightgray;
}

.all-browsers>h1,
.browser {
    margin: 10px;
    padding: 5px;
}

.browser {
    background: white;
}

.browser>h2,
p {
    margin: 4px;
    font-size: 90%;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: #527f85;
    color: white;
}